/* Add your styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    padding: 24px 42px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: stretch;
    flex-wrap: wrap;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-weight: 300;
}
#headBtn{
color: var(--Black, #2D2D2D);
/* Body text */
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 17px;
font-style: normal;
font-weight: 400;
}
main1{
    display: flex;
    padding: 42px 24px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0px 68px;
    align-self: stretch;
    flex-wrap: wrap;
}
img{
opacity: 60%;
max-width: 500px;
max-height: 600px;
}
textDiv{
    padding: 100px;
}
